#container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}


/* NavBar Styles Starts*/
#navContainer {
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    max-height: 10vh;
    background-color: rgb(223, 223, 223);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -10px 36px -28px inset;
}

#logo {
    font-style: italic;
    color: #002B5B;
    font-size: 4vh;
    padding-left: 4vh;
    cursor: pointer;
}

#logo h2 {
    font-weight: 400;
}

#navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 3.5vh;
    font-weight: 200;
    margin-right: 30vh
}

.navItems {
    cursor: pointer;
    margin-right: 5vh;
    color: #256D85;
}

.navItems:hover {
    color: cornflowerblue;
    font-weight: 500;
}

#navProfile {
    width: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    font-weight: 200;
}

#navProfile:hover {
    font-weight: 400;
}

#navProfile img {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    object-fit: cover;
}

#navProfile span {
    font-size: 3vh;
    font-weight: 400;
    padding-left: 2vh;
}

.fa-bars {
    display: none;
    font-size: 2rem;
    margin-right: 3rem;
    cursor: pointer;
}

#navListMob {
    display: none;
}


@media screen and (max-width:750px) {
    nav {
        display: none;
    }

    .fa-bars {
        display: block;
    }

    #navListMob {
        display: flex;
        flex-direction: column-reverse;
        height: 13rem;
        width: 10rem;
        align-items: center;
        background-color: rgb(190, 190, 190);
        justify-content: space-evenly;
        border-radius: 5px;
    }

    #navListMob #navProfile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



/* NavBar Styles Ends */

/* Register and Login Page Starts */

#registerContainer {
    width: 100%;
    height: 90vh;
    background-image: url('https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmxvZ3xlbnwwfHwwfHw%3D&w=1000&q=80');
    background-size: cover;
    position: relative;
}

#registerForm {
    width: 50%;
    margin: auto;
    border: 1px solid black;
    border-radius: 2vh;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#registerForm div {
    width: 60%;
    height: 100%;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0;
}

#registerForm h1 {
    font-size: 20px;
    font-weight: 400;
    margin: .2rem 0;
}


#registerForm input {
    font-size: 18px;
    font-weight: 300;
    padding: .5rem;
    border-radius: 1vh;
    border: none;
    outline-color: black;
}

#registerForm button {
    font-size: 20px;
    padding: .3rem 1rem;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 1vh;
    border: none;
    background-color: wheat;
    color: var(--black);
}

#registerForm button:hover {
    background-color: rgb(218, 176, 87);
}

@media screen and (max-width:900px) {
    #registerForm {
        width: 60%;
    }

}

@media screen and (max-width:600px) {
    #registerForm {
        width: 90%;
    }

    #registerForm div {
        width: 90%;
        height: 100%;
        margin: 2vh auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem 0;
    }

}

/* Register and Login Page Ends */

/* Home Page starts */

#homeContainer {
    padding: 3rem 0;
}

#homeContainer h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

#blogsList {
    padding: 2rem 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

@media screen and (max-width:650px) {
    #blogsList {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Home Page Ends */


/* Write Drawer Starts */

#writeContainer {
    width: 80%;
    margin: auto;
    height: 100%;
    padding: 1% 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

#writeContainer h1 {
    font-size: 2.5rem;
    text-align: center;
}

#writeContainer input {
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 5px;
}

#writeContainer textarea {
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 5px;
    height: 10rem;
}

#writeContainer textarea::-webkit-scrollbar {
    display: none;
}

#writeContainer button {
    width: 30%;
    font-size: 1.5rem;
    border: none;
    padding: .5rem 0;
    background-color: rgb(224, 168, 62);
    border-radius: 2rem;
    cursor: pointer;
}

#writeContainer button:hover {
    background-color: green;
    color: white;
}

.fa-xmark {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    cursor: pointer;
}

/* Write Drawer Ends */

/* Post page starts */

#postContainer {
    max-width: 1500px;
    width: 100%;
    padding: 2rem 10%;
    margin: auto;
    min-height: 90vh;
    background-color: rgb(247, 239, 205);
    border: 1px solid;
}

#postContainer>button {
    font-size: 1.2rem;
    padding: .3rem 1rem;
    background-color: rgb(112, 112, 112);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#detailsContainer {
    padding: 2rem 0;
    width: 100%;
}

#detailsContainer>img {
    width: 100%;
    height: 40vh;
}

#detailsContainer>h1 {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
}

#detailsContainer>h6 {
    font-size: 1.5rem;
    text-align: end;
    font-weight: 300;
}

#detailsContainer>p {
    padding: .5rem 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
}
#detailsContainer>p>pre{
    white-space: pre-wrap;
}

@media screen and (max-width:600px) {
    #postContainer {
        padding: 2rem 2%;
    }

    #detailsContainer>h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    #detailsContainer>h6 {
        font-size: 1.1rem;
        text-align: end;

    }

    #detailsContainer>p {
        padding: .5rem 0;
        font-size: 1rem;
        text-align: justify;
    }
}

/* Post page Ends */